/* html {
    font-size: 62.5%; /* 1rem=10px 
}
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Raleway', sans-ser;
}

h1,h2,h3,h4,h5,p,a{
    margin:0;
}
