<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    
    <main>
        <form action="/catalogue/add" method="post" enctype="multipart/form-data">
            <input type="text" placeholder="Name Product" name="name" required>
            <input type="number" placeholder="Price" name="price" required>
            <input type="text" placeholder="Min Size" name="minSize" required>
            <input type="text" placeholder="Max Size" name="maxSize" required>
            <input type="text" placeholder="Brand: Nike,Puma, Adidas ..."
            name="brand" required>
            <input type="number" placeholder="discount" name="discount" required>
            <input type="file" name="image" required>
            <input type="submit">
        </form>
    </main>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>