<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <header class="error">
        <div class="errorContainer">
            <p>NOT FOUND 404!</p>
            <p>Pagina inexistente</p>
        </div>
    </header>
    <%- include('./partials/footer.ejs') %>
</body>
</html>