<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <header class="home-header">
      <div class="home-header-container">
        <h1>MOON PROYECT</h1>
        <p class="home-header-frase">La luna es solo un pequeño paso</p>
        <a href="https://goo.gl/maps/7mJmFirC8KfCMPr46"><p class="home-header-ubication"><i class="fa-solid fa-location-dot"></i> San Nicolás de los Arroyos</p></a>
      </div>
    </header>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>